@font-face {
    font-family: "Kenoky";
    src: url("../assets/fonts/Kenoky/KENOKY-Normal.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Kenoky Bold";
    src: url("../assets/fonts/Kenoky/KENOKY-Bold.ttf");
    font-style: bold;
}

.contactTitle {
    font-family: "Kenoky Bold", Arial, Helvetica, sans-serif;
    font-size: 5vw;
    text-align: center;
    margin-top: 20px;
}

.contactWelcome {
    text-align: center;
  }
  
  /* Estilos del formulario de contacto */
  
  .contactForm {
    max-width: 500px;
    margin: 0 auto;
    
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: normal;
  }
  
  input,
  textarea {
    width: 100%;
    height: 20px;
    padding: 0.5rem;
    border: none;
    background-color: #F6F8FA;
    border-radius: 15px;
  }
  
  .submit-button {
    width: 100px;
    height: 40px;
    background-color: #007aff;
    color: #fff;
    font-size: 15px;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: none;
  }

  @media (max-width: 767px) {
    .contactForm {
      max-width: 80%;
    }
}