.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    padding: 3.5rem;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 2px 7px 68px -33px rgba(0, 0, 0, 0.31);
    margin-top: 80px;
}

.box .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    width: 150px;
    height: auto;
}

.box p {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 93%;
    padding: 1.3rem 10px;
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 0.25px solid #fff;
    background: #F6F8FA;
    border-radius: 15px;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,
.box .inputBox input:not([value=""]) ~ label {
    top: -1.125rem;
    left: 10px;
    font-size: 0.75rem;
    background-color: #fff;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.box .inputBox input:focus {
    outline: none;
}

.loginbutton {
    border: none;
    outline: none;
    color: #fff;
    background: url('../assets/Images/gradient.webp');
    background-size: cover;
    background-position: center;
    padding: 0.625rem 1.25rem;
    cursor: pointer;
    border-radius: 100px;
    font-size: 1rem;
    font-weight: bold;
    float: right;
}

.loginbutton:hover {
    background-color: #192A53;
    box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.3);
}

.loginLogo {
    width: 90px;
    height: auto;
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .box {
        width: 80%;
        padding: 2rem;
        margin-top: 20px;
    }

    .box .logo {
        width: 100px;
    }

    .box p {
        font-size: 14px;
    }

    .box .inputBox input {
        width: 530px;
    }
}

@media (max-width: 767px) {
    .box .inputBox input {
        width: 230px;
    }
  }
  